.workFilterBtn{
    background: rgba(255, 228, 220, 0.2);
    border: 1px solid #FFE4DC;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFE4DC;
    padding: 10px 15px;
    margin: 19px auto;
    display: block;
    cursor: pointer; 
}

.workFilterBtn:hover{
  color: #3a2923;
  background:#d8c6c0b5;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  padding-top: 100px;
}

.time_range_slider {
  width: 80%;
}
.time_title{
margin-top: 20px;
margin-bottom: 20px;
font-size: 16px;
}

.bgfon {
  background: url(../../content/img/bgloc.png) no-repeat top center;
  background-color: rgb(0, 0, 0);
  background-size:cover;
  min-height: 640px;
  padding-bottom: 10px;
  max-width: 414px;
  margin: 0 auto;
  position: relative;

}
.time_range{
  text-align: center;
}
.time_title_clock{
  font-size: 25px;
  color: #ffe4dc;
  line-height: 1.5;
}

.header {
  width: 100%;
    padding: 0 15px 0 15px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  flex-wrap: wrap;
  background-color: #00000025;
}
.star img{
  width: 25px;
}
.star{
  cursor: pointer;
  align-self: flex-end;
}
.header_arrow{
  align-self: flex-end;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .bgfon{
      height: 100vh;
  }
}

@media only screen and (max-width: 320px) {
  .bgfon{
      height: 100%;
  }
}

