.locFilterBtn{
    background: rgba(255, 228, 220, 0.2);
    border: 1px solid #FFE4DC;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFE4DC;
    padding: 10px 15px;
    margin: 0 auto;
    margin-top: 4
    0px;
    display: block;
    cursor: pointer; 
    margin-top: 35px;
 
}

.locFilterBtn:hover{
    color: #3a2923;
    background:#d8c6c0b5;
}

.header_arrow{
    align-self: flex-end;
    cursor: pointer;
}

.containerFlex{
    display: flex;
    justify-content: center;
}

.containerFlex:hover{
    opacity: 0.8;
}

.radioStyleDisctrict{
    font-size: 25px;
    border-bottom: solid #cd8b60 1px;
    
}

.header {
    max-width: 300px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    flex-wrap: wrap;
  }
.radioButtonStyle{
    margin-bottom: 10px;
    margin-top: 25px;
    display: block;
    width: 18px;
    margin: 0 auto;
}