.bgfon {
    background: url(./img/bgloc.png) no-repeat top center;
    background-color: rgb(0, 0, 0);
    min-height: 640px;
    padding-bottom: 10px;
}


.button_more{
    background: rgba(255, 228, 220, 0.2);
    border: 1px solid #FFE4DC;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFE4DC;
    padding: 10px 15px;
    margin: 19px auto;
    display: block;
    cursor: pointer; 
}

.checkboxHeight{
	height: 30px;
    position: relative;
    width: 170px;
    text-align: left;
}
.checkboxSize{
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
}
.checkboxName{
	margin: 10px;
    text-align: center;
    font-size: 15px;
}
.checkboxSize_distr{
    margin: 20px 0px;
}