.main_content {
    display: flex;
    flex-flow: column;
}

.imgStyle{
    border: solid white 2px;
}

h1{
    color: #d89b89 !important;
}

.arrow_back{
    padding-top: 30px;
}
.arrow_back img{
    cursor: pointer;
    margin: 0 36px;
}

.call_button {
    margin-right: 40px;
    margin-top: 30px;
}

.main_content h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 51px;
    font-family: Appetite;
    font-size: 36px;
    text-align: center;
    color: #FFE4DC;

}
.main_content h2 {
    margin-top: 20px;
    font-family: Appetite;
    font-size: 25px;
    text-align: center;
    color: #FFE4DC;

}

/* .card_info_container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 20px;
} */


.bgfon {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    padding-bottom: 10px;
    max-width: 414px;
    margin: 0 auto;
    background: url(../content/img/bgloc.png) no-repeat center center /cover;
}

.main_content img{
    width: 165px;
    display: block;
    border: 1px solid #FFE4DC;
    border-radius: 100px;
    box-sizing: border-box;
    margin-top: 25px;
    background-color: #fff;
}

.insideInfoStyle{
    color: #fff;
    font-size: 17px;
}


.type, .work_time, .adress, .telephone, .cuisine, .links, .advantages{
    font-size: 16px;
    padding-left: 5%;
    padding-right: 5%;
    color: #c47a64;

}

.links,  .cuisine, .advantages{
    word-wrap: break-word;
}

.item_name {
    font-family: Appetite;
    font-size: 12px;
    text-align: center;
    padding: 25px;
}

.make_route_button{
    background: rgba(255, 228, 220, 0.2);
    border: 1px solid #FFE4DC;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFE4DC;
    padding: 15px 15px;
    margin: 15px auto;
    display: block;
    cursor: pointer;
}

.make_route_button:hover{
    color: #3a2923;
    background:#d8c6c0b5;

}


.header {
    width: 100%;
    padding: 0 15px 0 15px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    flex-wrap: wrap;
    background-color: #00000025;
  }
  .star img{
    width: 25px;
  }
  .star{
    cursor: pointer;
    align-self: flex-end;
  }
  .header_arrow{
    align-self: flex-end;
    cursor: pointer;
  }
