.main_content {
    display: flex;
    flex-flow: column;
    background: url(/static/media/bgloc.94c9d204.png) no-repeat center center /cover;
}

.arrow_back {
    padding-left: 40px;
    padding-top: 30px;

}

.call_button {
    margin-right: 40px;
    margin-top: 30px;
}

.main_content h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 51px;
    font-family: Appetite;
    font-size: 36px;
    text-align: center;
    color: #FFE4DC;

}
.main_content h2 {
    margin-top: 20px;
    font-family: Appetite;
    font-size: 25px;
    text-align: center;
    color: #FFE4DC;

}

/* .card_info_container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 20px;
} */


.bgfon {
    background-color: rgb(0, 0, 0);
    min-height: 640px;
}

.main_content img{
    width: 165px;
    display: block;
    border: 1px solid #FFE4DC;
    border-radius: 100px;
    box-sizing: border-box;
    margin-top: 25px;
}

.type, .work_time, .adress, .telephone, .cuisine, .links, .advantages{
    font-size: 16px;
    padding-left: 5%;
    padding-right: 5%;
}

.links,  .cuisine, .advantages{
    word-wrap: break-word;
}

.item_name {
    font-family: Appetite;
    font-size: 12px;
    text-align: center;
    padding: 25px;
}

.make_route_button{
    background: rgba(255, 228, 220, 0.2);
    border: 1px solid #FFE4DC;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFE4DC;
    padding: 15px 15px;
    margin: 25px auto;
    display: block;
    cursor: pointer;
}


