.mainFork{
    display: flex;
    flex-wrap: wrap;
}

.forkButton{
    align-self: center;
    background-color: rgba(0, 0, 0, 0.50);
    border: 1px solid #e7cec6;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    padding-top: 30px;
    padding-left: 19px;
    padding-right: 19px;
    width: 140px;
    height: 140px;
    padding-bottom: 30px;
}