.mainFork{
    display: flex;
    flex-wrap: wrap;
}
.Background_container{
  background: url(../../content/img/bgloc.png) center center;
  background-size: cover;
  height: 100vh;
  padding-bottom: 10px;
  max-width: 414px;
  margin: 0 auto;
}

.forkButton{
    align-self: center;
    background-color: rgba(0, 0, 0, 0.50);
    border: 1px solid #e7cec6;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    padding-top: 30px;
    padding-left: 19px;
    padding-right: 19px;
    width: 140px;
    height: 140px;
    padding-bottom: 30px;
}

.forkFilterBtn{
    background: rgba(255, 228, 220, 0.2);
    border: 1px solid #FFE4DC;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFE4DC;
    padding: 10px 15px;
    margin: 19px auto;
    display: block;
    cursor: pointer; 
}

.forkFilterBtn:hover{
  color: #3a2923;
  background:#d8c6c0b5;
}

.typeStyles{
  font-size: 20px;
  border-bottom: solid #5b4d4d 1px;
  padding-right: 5px;
  padding: 30px;
  background-color: #5b4d4d4a;
}

.checkboxHeight{
	  height: 30px;
    position: relative;
    width: 170px;
    text-align: left;
}
.typeStyles:first-child{
  padding-top: 15px;
}

.arrow_back{
  align-self: flex-end;
  cursor: pointer;
}
.header {
  width: 100%;
  padding: 0 15px 0 15px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  flex-wrap: wrap;
}