.mainFork{
    display: flex;
    flex-wrap: wrap;
}

.forkButton{
    align-self: center;
    background-color: rgba(0, 0, 0, 0.50);
    border: 1px solid #e7cec6;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    padding-top: 30px;
    padding-left: 19px;
    padding-right: 19px;
    width: 140px;
    height: 140px;
    padding-bottom: 30px;
}

.forkFilterBtn{
    background: rgba(255, 228, 220, 0.2);
    border: 1px solid #FFE4DC;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFE4DC;
    padding: 10px 15px;
    margin: 19px auto;
    display: block;
    cursor: pointer; 
}

/* 
Style for button

input.chk-btn {
  display: none;
}
input.chk-btn + label {
  border: 1px solid grey;
  background: ghoswhite;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
}
input.chk-btn:not(:checked) + label:hover {
  box-shadow: 0px 1px 3px;
}
input.chk-btn + label:active,
input.chk-btn:checked + label {
  box-shadow: 0px 0px 3px inset;
  background: #eee;
}

<input type="checkbox" id='c1' class='chk-btn' />
<label for='c1'>Check Button</label>
<input type="checkbox" id='c2' class='chk-btn' />
<label for='c2'>Toggle</label>

http://qaru.site/questions/12141/how-to-make-a-check-button-hidden-checkbox-with-label-as-a-button-css-only
*/