.bgfon {
    background: url(../../content/img/bgloc.png) no-repeat top center;
    background-color: rgb(0, 0, 0);
    background-size:cover;
    min-height: 640px;
    padding-bottom: 10px;
    max-width: 414px;
    margin: 0 auto;
    position: relative;
}


.button_more{
    background: rgba(255, 228, 220, 0.2);
    border: 1px solid #FFE4DC;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFE4DC;
    padding: 10px 15px;
    margin: 19px auto;
    display: block;
    cursor: pointer; 
}
.header {
    width: 100%;
    padding: 0 15px 0 15px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    flex-wrap: wrap;
    background-color: #00000025;
}
.header_menu{
    align-self: flex-end;
    cursor: pointer;
}

.header_arrow{
    align-self: flex-end;
    cursor: pointer;
}
.star{
    padding-bottom: 17px;
    align-self: flex-end;
}

.delfavorButtorn{
    color: #fff;
    cursor: pointer;
    padding: 20px;
    position: absolute;
    border: 1px solid #ffe4dc;
    border-radius: 20px;
    right: 20px;
    top: 9px;
    background: url(../../content/img/trash.svg) no-repeat center center;
}
.delfavorButtorn:hover{
   opacity: 0.7;
}

.favorCont{
    position: relative;
}

@media only screen and (max-width: 768px) {
    .bgfon{
        height: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .bgfon{
        height: 100%;
    }
}